<settings>
  <servers>
    <server>
      <id>nexus</id>
      <username>${env.NEXUS_USERNAME}</username>
      <password>${env.NEXUS_PASSWORD}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>Nexus Mirror</name>
      <url>http://3.85.94.163:8081/repository/maven-snapshots/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
